---
apiVersion: v1
kind: Namespace
metadata:
  name: jupyterhub

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: default-sa-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: system:serviceaccount:default:default

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name:  jupyterhub
  namespace: jupyterhub
spec:
  selector:
    matchLabels:
      name: jupyterhub
  replicas: 1
  template:
    metadata:
      labels:
        name:  jupyterhub
    spec:
      tolerations:
      - key: "key"
        operator: "Equal"
        value: "value"
        effect: "NoSchedule"    
      containers:
        - name: jupyterhub
          image:  indigodatacloud/jupyterhub
          env:
            - name: HUB_CONNECT_IP
              value: jupyterhub
          ports:
          - containerPort: 8000
            name: port0
          - containerPort: 8081
            name: port1
          volumeMounts:
           - name: jupyterhub
             mountPath: /jupyterhub_config.py
             subPath: jupyterhub_config.py
           - name: jupyterhub
             mountPath: /root/.kube/config
             subPath: admin.conf
          livenessProbe:
            httpGet:
              path: /
              port: 8000
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 20
      volumes:
        - name: jupyterhub
          configMap:
            name: jupyterhub


# Service
---
apiVersion: v1
kind: Service
metadata:
  name: jupyterhub
  namespace: jupyterhub
spec:
  type: NodePort
  ports:
  - name: http1
    port: 8000
    nodePort: 30080
  - name: http2
    port: 8081
    nodePort: 30081
  selector:
    name: jupyterhub
